.section{
    width: 90%;
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
}

.buttons-section{
    justify-content: center;
}


.details{
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
    padding: 20px 0px;

    
    
}
.row{
    display: grid;
    margin-left: 20px;
    margin-bottom: 5px;
    grid-template-columns: [first] 120px [line2] 240px [end];
    grid-template-rows: [row1-start] 100% [last-line];
}