.login-page{
    background: rgb(161,26,108);
    background: linear-gradient(339deg, rgba(161,26,108,1) 0%, rgba(44,30,180,1) 52%, rgba(30,110,116,1) 99%);

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .label{
        width: fit-content;
        color: white;
    }

    .login-box{
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 30vw;
    }
}