.menu-bar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    margin: none;

    background-color: rgb(255, 255, 255);

    .bar-button-container{
        align-self: center;
        justify-self: center;
    }

    .bar-logout-container{
        align-self: center;
        justify-self:end;
    }
}