.main-tab{
    height: 90%;
    width: 80%;
    display: inline-block;
    position: absolute;
    top: 10%;
    right: 0;

    overflow-y: scroll;
    
    background-color: rgb(247, 247, 247);

    
}