.driver-form{
    margin-top: 40px;
    width: 70%;

    padding: 40px;

    background-color: #ffffff;
    border-radius: 15px;
        
    .input-group{
        display: flex;
        max-width: 23vw;
        min-width: 23vw;
        justify-content: space-between;
       
    }

    .button-div{
        display: flex;
        max-width: 23vw;
        min-width: 23vw;
    }
}