.transport-window{
    width: 100%;
    width: 100%;

    .section{
        width: 27vw;
        margin-left: 40px;
    }

    .buttons-section{
        width: 27vw;
        margin-left: 40px;
    }

    .map-container{
        width: 600px;
        height: 420px;
        display: block !important;
        position: absolute;
        top: 40px;
        right: 100px;

        margin: unset;

        .map{
            width: 550px;
            height: 340px;
            margin-left: 25px;

            background-color: aliceblue;
        }

    }

    .table{
        .row{
            .field{
                cursor: unset;
            }
        }

        .row:hover{
            background-color: unset;
        }
    }

    .cargo{
        .row{
            grid-template-columns: [first] 70px [line2] 150px [line3] 150px [line4] 150px [end];
            grid-template-rows: [row1-start] 100% [last-line];

            padding: 10px 25px;
            margin: 0px
        }
    }

    .drivers{
        .row{
            grid-template-columns: [first] 70px [line2] 230px [line3] 170px [line4] 250px [end];
            grid-template-rows: [row1-start] 100% [last-line];

            padding: 10px 25px;
            margin: 0px
        }
    }

    .states{
        .row{
            grid-template-columns: [first] 70px [line2] 200px [line3] 170px [line4] 170px [line5] 170px [end];
            grid-template-rows: [row1-start] 100% [last-line];

            padding: 10px 25px;
            margin: 0px
        }
    }

    .title{
        margin: 10px 25px;
        padding-bottom: 10px;
        font-weight: bolder;
        font-size: larger;
        border-bottom: 1px solid ;
    }

}