.cargo-list{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}



.table{
    width: fit-content;
    max-height: 580px;
    margin:40px;

    border-radius: 15px;
    overflow-y: scroll;

    .row{
        display: grid;
        padding: 20px;
        margin: 0px;

        .field{
            cursor: pointer;
        }
    }

    .cols-2{
        grid-template-columns: [first] 50px [line2] 250px [end];
        grid-template-rows: [row1-start] 100% [last-line];
    }

    .cols-3{
        grid-template-columns: [first] 50px [line2] 200px [line3] 200px [end];
        grid-template-rows: [row1-start] 100% [last-line];
    }

    .row:hover{
        background-color: #eaf5ff;
    }

    .head{
        font-weight: bold;
    }

    .head:hover{
        background-color: #ffffff;
    }


    background-color: #ffffff;

}

.selected{
    background-color: #fce3ce;
}