.cargo-list{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.table{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;

    thead{
        th, td {
            height: 40px;
          }

        th:hover{
            cursor: pointer;
            background-color: aliceblue;
        }
    }

    tbody{

        th, td {
            height: 40px;
        }

        tr {
            cursor: pointer;
        }
        .selected{
            background-color: brown;
        }

        tr:hover{
            background-color: rgb(170, 238, 250);
        }

    }

    
}

