.transport-tile{
    background-color: #eaf5ff;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    height: 100px;

    cursor: pointer;

    .transport-tile-selector{
        height: 100%;
        width: 10px;
        margin-right: 5px;

        background-color: #d48031;
        transition: transform 0.3s;
        transform-origin: left;

    }

    .hidden{
        transform: scaleX(0);
        transform-origin: left;
        
    }
}

.transport-tile:hover{
    background-color: #fce3ce;
}

.transport-tile-selected{
    background-color: #fce3ce;
}

