.html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.html::-webkit-scrollbar {
    display: none;
  }
#root{
    width: 100vw;
    height: 100vh;
}

.hide-srollbars{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.hide-srollbars::-webkit-scrollbar{
    display: none;
}